{% extends "base.html" %}

{% block title %}Sign Up{% endblock %}

{% block content %}
  <div class="mx-auto my-auto w-96 border-2 shadow-lg text-center rounded-xl bg-blue-50">
    <h2 class="p-3 bg-blue-500 font-bold rounded-t-xl">Sign Up</h2>
    <form method="post" class="p-1 text-center">
      {% csrf_token %}
      <div class="text-right inline-block">
        <p class="p-3">
          <label for="username">Username:</label>
          <input type="text" name="username" required class="border-black border rounded" value={{ username }}></input>
        </p>
        <p class="p-3">
          <label for="first_name">Name:</label>
          <input type="text" name="first_name" required class="border-black border rounded" value={{ first_name }}></input>
        </p>
        <p class="p-3">
          <label for="password">Password:</label>
          <input type="password" name="password" required class="border-black border rounded" value={{ password }}></input>
        </p>
        <p class="p-3">
          <label for="role">Role:</label>
          <select name="role" class="border-black border rounded">
            {% for key, val in roles.items %}
            <option value={{ key }} {% if key == prevrole %} selected {% endif %}>{{ val }}</option>
            {% endfor %}
          </select>
        </p>
      </div>
      <p class="text-red-600">{{ message }}</p>
      <button type="submit" class="p-2 bg-blue-400 rounded">Sign Up</button>
    </form>
  </div>
{% endblock %}