{% extends 'base.html' %} 

{% block title %}Add Room Services{% endblock %} 

{% block content %}

<div class="p-5">
  <div class="flex gap-2">
    <label for="type">type</label>
    <input
      type="text"
      id="type"
      name="type"
      value=""
      class="border-solid border-2 border-black"
    />
  </div>
  <div class="flex gap-2">
    <label for="name">name</label>
    <input
      type="text"
      id="name"
      name="name"
      value=""
      class="border-solid border-2 border-black"
    />
  </div>
  <div class="flex gap-2">
    <label for="img">img url</label>
    <input
      type="text"
      id="img"
      name="img"
      value=""
      class="border-solid border-2 border-black"
    />
  </div>
  <div class="flex gap-2">
    <label for="price">price</label>
    <input
      type="number"
      id="price"
      name="price"
      value=""
      class="border-solid border-2 border-black"
    />
  </div>
  <button id="add-button">ADD</button>
</div>
<script>
  const postData = () => {
    const csrf = getCookie("csrftoken");

    $.ajax({
      url: "/api/roomservice/",
      type: "POST",
      dataType: "json",
      data: {
        type: $("#type").val(),
        name: $("#name").val(),
        img_url: $("#img").val(),
        price: $("#price").val(),
        csrfmiddlewaretoken: csrf,
      },
      success: (data, status) => {
        console.log("success: " + data);
        if (status == "success") {
          alert("success");
          window.location.replace("/roomservice");
        } else {
          alert("failed");
        }
      },
      error: (error) => {
        console.log(error);
      },
    });
  };

  $("#add-button").click(() => {
    postData();
  });
</script>

{% endblock %}
