{% extends 'base.html' %} 

{% block title %}Order List{% endblock %} 

{% block content %} 

<div class="p-5">
  <div id="order-wrapper" class="flex flex-col w-full gap-2"></div>
</div>
<script>
  $( document ).ready(function() {
    const orderCard = (data) => {
      return `
        <a href="/roomservice/order/${data.id}">
          <div class="flex flex-col gap-2">
            <p>${data['room_service'].name}</p>
            <p class="${roomServiceOrderStatusColor[data.status]}">${data.status}</div>
          </div>
        </a>
      `;
    }

    const renderOrder = ({data}) => {
      for (i=0; i<data.length; i++) {
        $("#order-wrapper").append(orderCard(data[i]));
      }
    }

    $.ajax({
      url: "/api/roomservice/order",
      type: "GET",
      success: (data, status) => {
        if (status == "success") {
          renderOrder(data);
          console.log(data);
        } else {
          console.log("error");
        }
      },
      error: (error) => {
        console.log(error);
      },
    });
  });
</script>

{% endblock %}