{% extends 'base.html' %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create Paket Koin</title>
</head>
<body>
<form action="" method="POST">
    {% csrf_token %}
    <h1>Create Transaksi Paket Koin</h1>
    <br>
    <label for="nama_kamar">Nama Kamar</label>
    <p class="nama_kamar" readonly>{{ book_room_form.nama_kamar }}</p>
    <label for="nama_hotel">Nama Hotel</label>
    <p class="nama_hotel" readonly>{{ book_room_form.hotel_stay }}</p>
    <label for="end_date">Ju</label>
    <p class="end_date">{{ book_room_form.end_date }}</p>
    <br>
    <button type="submit" value="Submit">Book</button>
</form>
</body>
</html>
{% endblock content %}