{% extends 'base.html' %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Hotel</title>
  </head>
  <body>
    <table>
      <tr>
        <th>No</th>  
        <th>Nama Hotel</th>
        <th>Book</th>
      <!-- TODO loop from Friend model -->
      {% for hotel in hotels %}
      </tr>
        <td>{{  forloop.counter }}</td>
        <td>{{  hotel.name }}</td>
        <td><a href="/room/book_room{{ hotel.name }}">Book Hotel</a>
          <a href="/room/create_room/{{ hotel.name }}">Build Room</a>
          <a href="/room/list_room/{{ hotel.name }}">List Room</a>
        </td>
      </tr>
      {% endfor %}
    </tr>
    </table>
  </body>
</html>
{% endblock content %}