{% extends 'base.html' %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Hotel</title>
  </head>
  <body>
    <table>
      <tr>
        <th>No</th>  
        <th>Nama Hotel</th>
        <th>Infographic</th>
        <th>Book</th>
      <!-- TODO loop from Friend model -->
      {% for hotel in hotels %}
      <tr>
        <td>{{  forloop.counter }}</td>
        <td>{{  hotel.name }}</td>
        <td><a href="/infographic/image/{{ hotel.pk }}">Infographic</a>
        <td><a href="/room/list_room/{{ hotel.name }}">List Room</a>
        </td>
      </tr>
      {% endfor %}
    </tr>
    </table>
  </body>
</html>
{% endblock content %}